.log{
    margin:12%;
    margin-left: 30%;
    text-align: center;
    opacity: 2;
    
    
}
form{
    width: 60%;
    height: 385px;
    border: 2px solid rgb(247, 246, 246);
}

.but{
    width: 300px;
    height: 30px;
    background-color:yellow ;
  
}
.button{
    width: 149px;
    height: 30px;
    background-color:yellow ;
}
.a{
    color: yellow;
    border-bottom: 3px solid black;
}
.b{
    width: 295px;
    height: 27px;

}